


/* @media (min-width: 768px) {
    .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
        left: 991px !important;
    }
} */

.MuiFab-primary{
    background-color: #24B903 !important;
}
.css-1fgwdvu-MuiSpeedDialAction-staticTooltip .MuiSpeedDialAction-staticTooltipLabel{
    width: 200px !important;
    font-family: 'Roboto Flex' !important;
}
.css-12w19fr-MuiSpeedDialAction-staticTooltip .MuiSpeedDialAction-staticTooltipLabel{
    width: 200px !important;
}
@media(min-width:768px) {
    .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
        left: 52% !important;
        transform-origin: 0px 0px !important;
        position: relative !important;
        width: 200px !important;
    }
}
@media (max-width: 768px) {
    .css-15fsjtl{
        left: 300px !important;
    }
}
@media (max-width: 684px) {
    .css-15fsjtl{
        left: 270px !important;
    }
}
@media (max-width: 605px) {
    .css-15fsjtl{
        left: 250px !important;
    }
}
@media (max-width: 565px) {
    .css-15fsjtl{
        left: 240px !important;
    }
}
@media (max-width: 550px) {
    .css-15fsjtl{
        left: 220px !important;
    }
}
@media (max-width: 510px) {
    .css-15fsjtl{
        left: 200px !important;
    }
}
@media (max-width: 480px) {
    .css-15fsjtl{
        left: 190px !important;
    }
}
@media (max-width: 460px) {
    .css-15fsjtl{
        left: 170px !important;
    }
}
@media (max-width: 415px) {
    .css-15fsjtl{
        left: 160px !important;
    }
}
@media (max-width: 393px) {
    .css-15fsjtl{
        left: 150px !important;
    }
}
@media (max-width: 376px) {
    .css-15fsjtl{
        left: 140px !important;
    }
}
@media (max-width: 362px) {
    .css-15fsjtl{
        left: 130px !important;
    }
}
@media (max-width: 330px) {
    .css-15fsjtl{
        left: 120px !important;
    }
}
@media (max-width: 310px) {
    .css-15fsjtl{
        left: 110px !important;
    }
}
@media (max-width:280px) {
    .css-15fsjtl{
        left: 100px !important;
    }
}
@media (max-width:260px) {
    .css-15fsjtl{
        left: 90px !important;
    }
}
@media (max-width:236px) {
    .css-15fsjtl{
        left: 70px !important;
    }
}



