@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Vollkorn:wght@400;500;600;700&display=swap');
button,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
td,
th,
label
table {
    font-family: 'Poppins', sans-serif !important;
}
body{
    background-color: #f3f3f9;
}
.card{
    margin-bottom:30px ;
    box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
    border: none;
}


.card-footer{
    background-color: #fff !important;
    padding: 1rem 1rem;
}
button:focus{
    box-shadow: none !important;
    border: none !important;
}
.dashboard-nav-item:hover {
    background: rgba(255, 255, 255, 0.04);
    color: #ffff !important;
}
.dashboard-nav-item:focus {
    background: rgba(255, 255, 255, 0.04);
    color: #ffff !important;
}
.dashboard-nav a:hover {
    text-decoration: none;
}
.dashboard-nav a {
    color: #515151;
}
.dashboard-nav a {
    color: #fff;
}
.dashboard-nav-list .dashboard-nav-item:focus{
    background: rgba(255, 255, 255, 0.04);
    color: #fff !important;
}
.icon-3{
    font-size: 18px;
}
a{
    text-decoration: none !important;
  
  }
  .dashboard-nav {
    background-color: #405189;
    z-index: 1070;
}
/* .header {
    height: 70px !important;
    width: 100%;
    background: #ffff !important;

    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: bold;
   
    position: fixed;
    z-index: 1;
 top: 0px;
 left: 0px;

 margin-bottom: 30px !important;
    border-bottom: 1px solid lightgray;
} */
.dropdown-toggle:focus{
    box-shadow: none !important;
}
label{
    font-size: 13px !important;
    margin-bottom: 7px !important; 
    color: #000;
    font-weight: 500 !important;
    font-family: 'Poppins', sans-serif!important;
    margin-bottom: 0px !important;
}
th {
    font-family: 'Poppins', sans-serif!important;
        font-weight: 500;
        font-size: .8125rem;

}
tr{
    font-family: 'Poppins', sans-serif!important;
    font-weight: 400;
    font-size: .8125rem;
}
td {
    font-weight: 400;
    font-size: .8125rem !important;
    font-family: 'Poppins', sans-serif !important;
    /* padding: 12px !important; */
    border-collapse: collapse !important;
    border: 1px solid lightgray !important;
    padding-top: 10px;
}
.form-control {
    display: block;
    width: 100%;
    padding: .5rem .9rem;
    font-size: .8125rem;
    font-weight: 500;
    line-height: 1.5;
    color: #212529;
    font-family: 'Poppins', sans-serif!important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.form-select{
        display: block;
        width: 100%;
        padding: .5rem 2.7rem .5rem .9rem;
        -moz-padding-start: calc(.9rem - 3px);
        font-size: .8125rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000;
        background-color: #fff;
        font-family: 'Poppins', sans-serif !important;
        background-repeat: no-repeat;
        background-position: right .9rem center;
        background-size: 16px 12px;
        border: 1px solid #ced4da;
        border-radius: .25rem;
}
input:focus{
    box-shadow: none !important;
    border: 1px solid #ced4da !important;
}
select:focus{
    box-shadow: none !important;
    border: 1px solid #ced4da !important;
}
.offset-3 {
    margin-left: 0% !important;
    padding: 3px 1.5rem;

}
.btn{
    box-shadow: none !important;
    font-weight: 400;
    font-size: .8125rem;
    border-radius: .25rem;
    text-align: center;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif!important;
    padding: 9px 19px !important;
    border: none;
    color: #fff;
    margin: 2px;
}
.btn:hover{
    color: #fff;
}
.header-2 {
  
    width: 100%;
    color: #fff!important;
    font-size: 15px !important;
    font-weight: 400;
    background-color: #ffff !important;
    font-family: 'Poppins', sans-serif!important;
    /* text-transform: uppercase !important; */
    box-shadow: 0 1px 2px rgb(56 65 74 / 15%);
    /* margin-bottom: 28px; */
    position: fixed !important;
    top: 0px !important;
    z-index: 10;
    background-color: #000 !important;
   
 
}
.main-contact{
    padding-top: 65px;
}
.user-button-2 {
    background: none;
    border: none;
    color: #fff !important;
    padding: 0px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif !important;


}
th {
    border: 1px solid lightgray !important;
}


.user-button-2 .icon-2 {
    color: #495057;
    font-size: 15px;
    cursor: pointer;
}
.card-title {
    font-size: 16px !important;
    font-weight: 500;
    font-family: 'Poppins', sans-serif !important;
}
button{
    display: block ;
    border-color: none !important;

}

textarea:focus{
    box-shadow: none !important;
    border: 1px solid #ced4da !important;
}
.border {
    border:1px solid  #e9ebec!important;
}
.border-start-0{
    border-left: 0 !important;
}
.border-end-0{
    border-right: 0 !important;
}
.btn-danger {
    background-color: #f06548 !important;
    color: #fff;
    border-color:#c0513a ;
   
}
.btn-danger:hover{
background-color: #cc563d !important;
color: #fff;
}
:is(.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6) {
    color: #495057;
    font-family: 'Poppins',sans-serif;
    margin-bottom: 0px ;
}

.w-sm {
    min-width: 95px;
}
.page-title-box h4{
    font-weight: 700;
    font-size: 15px!important;
    text-transform: uppercase;
    margin-bottom: 0px !important;
}
.breadcrumb a{
    color: #495057 !important;
    font-size: .8125rem;
}
.h5, h5 {
    font-size: 1.015625rem;
}
.text-muted{
    font-size: 14px !important;
    color: #495057 !important;
    font-weight: 500 !important;
    font-family: 'Poppins',sans-serif !important;
    margin-bottom: 0px !important;
    }
    .border-top-dashed{
        border-top: 1px dashed #e9ebec !important;
    }
    .fs-13{
        font-size: 18px !important;
    }
  .card-body{
    padding: 0px !important;
  }


    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    
    
    /* Track */
    
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: transparent;
        -webkit-border-radius: .25rem;
        border-radius: .25rem;
    }
    
    .user-button-2 {
        background: none;
        border: none;
        color: #495057;
        padding: 0px;
        font-size: 14px;
        font-weight: 500;
    
        font-family: 'Poppins', sans-serif !important;
    
    }
    
    .list-style-none {
        list-style: none;
        font-size: 0.8125rem !important;
        font-family: 'Poppins' sans-serif !important;
        font-weight: 500 !important;
    }
    
    
    /* Handle */
    
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: .25rem;
        border-radius: .25rem;
        background: #e9e9e9;
        -webkit-box-shadow: transparent;
    }
    
    .wrap-input-effects {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .card-header {
        padding: 14px 14px !important;
        /* margin-bottom: 0px !important; */
        border-bottom: none !important;
    }
    
    .card-header {
        background-color: #fff !important;
        border-bottom: none;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .gridjs-th-sort {
        background-color: #f3f6f9 !important;
        font-weight: 500;
        color: #495057;
        font-size: 14px !important;
        font-family: 'Poppins', sans-serif !important;
    }
   
    .form-select{
        box-shadow: none !important;
        border: 1px solid lightgray  !important;
    }
    .btn-00 {
        display: inline-block !important;
        padding: 9px 19px !important;
        font-size: .8125rem !important;
        font-weight: 400 !important;
        font-family: Poppins, sans-serif !important;
        width: auto;
        border-radius: .25rem !important;
        border: none !important;
    }
    .edit {
        background-color: #dce8f6;
        padding: 3px;
        border-radius: .25rem;
        cursor: pointer;
        color: #468cdc;
    }
    .table-responsive-3 {
        overflow: scroll;
        height:calc(100vh - 205px) !important;
      
    }
    .table-responsive-4{
        overflow: scroll;
        height:calc(100vh - 245px) !important;
    }
    .table-responsive-40{
        overflow: scroll;
        height:calc(100vh - 270px) !important;
    }
    .table-responsive-card{
        overflow: scroll;
        height: calc(100vh - 365px) !important;
    }
    .card-footer{
        border-top: none;
    }
    .datepicker{
        border-radius: .25rem;
        padding: .5rem .7rem .5rem .9rem !important;
        border: 1px solid #ced4da;
        font-size: .8125rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000;
        background-color: #fff;
        font-family: 'Poppins', sans-serif !important;
    }
    .btn-success-0{
        background-color: #49ac41;
        color: #fff;
    } 
    .card-body-23{
        padding: 14px 14px !important;
    }
    .page-title-box{
        /* text-transform: uppercase; */
        font-size: 16px;
        color: #fff;
    }
    .export-btn{
        text-align: center;
        margin-top: 14px;
    }
    input:focus {
        box-shadow: none !important;
        border: 1px solid lightgray !important;
        outline: none;
    }
    .navbar{
        position: sticky;
        top: 0px;
        z-index: 11;
    }
    .table-light {
        position: sticky;
        z-index: 0;
        background-color: #f3f6f9 !important;
        top: -1px;
        bottom: 0;
        left: 0;
        right: 0;
    }


    .loader-container {
        display: none;
        position: absolute;
        width: 100%;
        height: 100% !important;
        z-index: 9999;
        background-color: rgba(2, 2, 3, 0.2);;
        /* opacity: 0.2; */
        margin-bottom: 15px;
     
      
      
    }
    .spinner-border-9{
      

        position: absolute;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
        width: 520px;
        color: #fff;
        text-align: center;
        justify-content: center;
        display: flex;
        font-weight: normal;
        font-size: 18px;
        margin-top: 15px;
        font-family: 'poppins' "sans serief";
   
       
    }

   
    .wrapper{
        position: absolute;
        top: 20%;
        transform: scale(1.5);
        /* left: 50%; */
        
      }
      .loader{
        height: 25px;
       width: 1px;
       position: absolute;
       animation: rotate 3.5s linear infinite;
      }
      .loader .dot{
        top: 30px;
       height: 7px;
       width: 7px;
       background: #2768b3 !important;
       border-radius: 50%;
       position: relative;
      }
      .text{
        
        position: absolute;
        bottom: -96px;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif !important;
        color: #000000;
      }
      @keyframes rotate {
        30%{
          transform: rotate(220deg);
        }
        40%{
        transform: rotate(450deg);
          opacity: 1;
       }
       75%{
        transform: rotate(720deg);
        opacity: 1;
       }
       76%{
        opacity: 0;
       }
       100%{
        opacity: 0;
        transform: rotate(0deg);
       }
      }
      .loader:nth-child(1){
        animation-delay: 0.15s;
      }
      .loader:nth-child(2){
        animation-delay: 0.3s;
      }
      .loader:nth-child(3){
        animation-delay: 0.45s;
      }
      .loader:nth-child(4){
        animation-delay: 0.6s;
      }
      .loader:nth-child(5){
        animation-delay: 0.75s;
      }
      .loader:nth-child(6){
        animation-delay: 0.9s;
      }
.offset-0{
    padding: 11px 1.5rem !important;
}
.liststyle{
    padding:10px;
    border-bottom: 1px solid lightgray;
    font-family: 'Poppins', sans-serif !important;
    color: #000 !important;
    
}
.linkview{
    color: #000000 !important;
}
.eyeview{
    font-size: 20px;
    color: #2768b3;
    float: right;
    cursor: pointer;
}
.border-dashed {
    border-style: dashed!important;
}
.avatar-sm {
    height: 3rem;
    width: 3rem;
}
.avatar-title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #405189;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;}
    .fs-13{
        font-size: 13px !important;
        margin-bottom: 6px !important;
    }
    .counter-value{
        font-family: 'Poppins', sans-serif !important;
    }
    .fs-4{
        font-size: 1.21875rem!important;
    }

    /* alert-container */
    .alert-container {
        position: fixed;
        bottom: 10px;
        width: 100%;
        right: 10px;
        background-color: #ff5050;
      
        border-radius: 2px;
        padding: 10px;
        display: flex;
        padding-left: 65px;
        align-items: center;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
        width: 33%;
        height: 50px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #ffff;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        opacity: 0;
        transform: translateY(50%);
      }
      
      .alert-container.show {
        opacity: 1;
        transform: translateY(0);
      }
      .success-container {
        position: fixed;
        bottom: 10px;
        width: 100%;
        right: 10px;
        background-color: #75b8e8 !important;
       
        border-radius: 2px;
        padding: 10px;
        display: flex;
        padding-left: 65px;
        align-items: center;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
        width: 33%;
        height: 50px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #ffff;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        opacity: 0;
        transform: translateY(50%);
      }
      
      .success-container.show {
        opacity: 1;
        transform: translateY(0);
      }
    /* .alert-container end*/
    /* .datepicker */
    .datepicker{
        border-radius: .25rem;
        padding: .5rem 2.7rem .5rem .9rem;
        border: 1px solid #ced4da;
        font-size: .8125rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000;
        background-color: #fff;
        font-family: 'Poppins', sans-serif !important;
    }
    .react-datepicker__month-select{
        display: block;
        
        /* padding: .5rem 2.7rem .5rem .9rem; */
        padding: 2px;
        -moz-padding-start: calc(.9rem - 3px);
        font-size: .8125rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000;
        background-color: #fff;
        font-family: 'Poppins', sans-serif !important;
    
        /* // background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e); */
        background-repeat: no-repeat;
        background-position: right .9rem center;
        background-size: 16px 12px;
        border: 1px solid #ced4da;
        border-radius: .10rem;
        margin-top: 4px;
    }
    .react-datepicker__year-select{
        display: block;
        
        /* padding: .5rem 2.7rem .5rem .9rem; */
        padding: 2px;
        -moz-padding-start: calc(.9rem - 3px);
        font-size: .8125rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000;
        background-color: #fff;
        font-family: 'Poppins', sans-serif !important;
    
        /* // background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e); */
        background-repeat: no-repeat;
        background-position: right .9rem center;
        background-size: 16px 12px;
        border: 1px solid #ced4da;
        border-radius: .10rem !important;
        margin-top: 4px;
    }
    .react-datepicker__year-select:focus{
        border: 1px solid #ced4da;
    }
    .react-datepicker__navigation{
        top: 7px !important;
        background-color: #488bf0 !important;
        border-radius: .20rem;
        /* color: #ffff !important; */
    }
    .react-datepicker__navigation-icon {
        position: relative;
        top: 4px !important;
        font-size: 20px;
        width: 0;
    }
    .react-datepicker__navigation{
        width: 20px  !important;
        height: 20px !important;
    }
    .react-datepicker__navigation-icon--next {
        left: 0px !important;
    }
    .react-datepicker__navigation-icon--previous {
        right: 0px !important;
    }
    .react-datepicker__navigation--next {
        right: 25px !important;
    }
    .react-datepicker__navigation--previous {
        left: 25px !important;
    }
    .react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before {
        border-color: #FFFF !important;}
    .react-datepicker__month{
        font-family: 'Poppins', sans-serif !important;
        font-size: .8125rem !important;
    }
    .react-datepicker__day-name{
        font-family: 'Poppins', sans-serif !important;
        font-size: .8125rem !important;
    }
    .position{
        position: absolute;
        right: 0px;
        top: 10px;
        
    }
    .date-picker-style{
        position: relative;
        z-index: 999 !important;
       
    }
    .card-header{
        position: relative;
        /* z-index: 33; */
    }
.maplocation{
    height: 100vh !important;
}
.penaltycolor{
    font-family: 'Poppins', sans-serif !important;
    /* color: red; */
    font-size: 22px;
    line-height: 0px;
   
}
.select-0{
    width: 260px;
}
.btn-primry{
    background-color: #4969d0;
    color: #fff;
}
.btn-primry:hover{
box-shadow: none !important;
background-color: rgb(69, 100, 192);
color: #fff;
}

.btn-red{
    background-color: #f42c2f;
}
.btn-red:hover{
box-shadow: none !important;
background-color: #d72e31;
color: #fff;
}
.btn-label {
    position: relative;
    padding-left: 44px !important;

}
.btn-label .label-icon{
    position: absolute;
    width: 35px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(255,255,255,.1) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0px;
    color: #fff !important;
  /* margin-left: -10px; */

}
.btn-primary-1{
    background-color: #468cdc;
    color: #fff;
}
.fs-16 {
    font-size: 23px!important;

}
/* @media (max-width: 1295px){
    .btn-label .label-icon {
      padding: 22px 0px;
        
    }} */
    @media (max-width: 993px){
        .btn-label .label-icon {
          padding: 22px 0px;
            
        }}
        .react-datepicker-wrapper{
            display: block !important;
        }
        
  .manage-ward-coverage-dp{
    border-radius: .25rem;
    /* padding: .5rem .7rem .5rem .9rem !important; */
    /* font-size: 0rem; */
    /* border: 1px solid #ced4da; */
    /* font-size: .8125rem; */
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    font-family: 'Poppins', sans-serif !important;
    
  }
  .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 6.5px 10px !important;
    width: 90px !important;
  }

  .css-i44wyl{
    padding: 0px 0px !important;
    width: 170px !important;
    height:38px;
  }

  .css-1bn53lx{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: -31.5625em;
    letter-spacing: 0.00938em;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    border-radius: 4px;
    padding-right: 14px;
    height: 38px;
  }
  .listline{
    list-style: none;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500;
    font-size: 13px;
    /* padding: 0px 20px; */
  }
  .popup {
    width: 40%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}
.align-middle{
    cursor: pointer;
    color:#488bf0 ;
    /* background-color: ; */
    border-radius: 5px;
    padding: 1px;
    background-color: rgb(70, 195, 254, 0.4)!important;
}

