/* .scroll{
   max-height:'100px';
   overflow-y: scroll;
   background-color: red;
  color: rgba(137, 43, 226, 0.605);
} */
.css-y8ay40-MuiTableCell-root{
  padding: 8px !important;
}
.css-1ex1afd-MuiTableCell-root{
  padding: 8px !important;
}
.btn{
  color: #fff !important;
  margin-bottom: 30px !important; 
}
button:focus:not(:focus-visible){
  outline: none !important;
}
.btn-check:focus+.btn, .btn:focus{
  box-shadow: none !important;
}
.css-6nioqg-MuiButtonBase-root-MuiCheckbox-root{
  color: #24B903 !important;
}
.css-1u0uqpm-MuiButtonBase-root-MuiCheckbox-root{
  color: #24B903 !important;
  
}
.css-1u0uqpm-MuiButtonBase-root-MuiCheckbox-root{
  padding: 8px !important;
}

.css-1ex1afd-MuiTableCell-root {
  padding: 9px !important;
}
.css-bb05id-MuiButtonBase-root-MuiCheckbox-root{
  padding: 0px !important;
}

@media (min-width:500px) {
  .css-rorn0c-MuiTableContainer-root{
    overflow: scroll !important;
    height: calc(100vh - 300px) !important ;
  }
}
@media (max-width:500px) {
  .css-rorn0c-MuiTableContainer-root{
    overflow: scroll !important;
    height: calc(100vh - 290px) ;
  }
}