
  /* .top-header{
    background-color: #6200ED !important;
  width: 100%;
  
  }
  .card-header:first-child{
    border-radius: 0px !important;
  }
  .card-header {
    padding: 18px;
  } */
  .header{
   
      background-color: #24B903 !important;
      color: #fff;
  padding: 16px 14px !important;
  position: fixed;
  width: 100%;
  z-index: 999;
  
 
  }
  .css-1gnz8kn-MuiBottomNavigation-root{
    background-color: #fff !important;
      color: #C6C6C6 !important;
  }
  .css-10rr26n-MuiTypography-root{
    font-size: 16px !important;
    font-family: 'Roboto Flex' !important;
    font-weight: 500 !important;
  }
  .css-1qvr50w-MuiTypography-root{
    font-size: 16px !important;
    font-family: 'Roboto Flex' !important;
    font-weight: 500 !important;
  }
  .css-185gdzj-MuiCardHeader-root{
    font-size: 16px !important;
    font-family: 'Roboto Flex' !important;
    font-weight: 500 !important;
    padding: 14px !important;

  }
  @media (min-width: 768px) {
    .header{
   
      background-color: #24B903 !important;
      color: #fff;
  padding: 14px 14px;
  position: fixed;
  width: 500px;
  z-index: 999;
 
  }
  }
  .main-container-2{
    background: #fff;
    /* height: 100vh; */
    width: 500px!important;
    padding-right: 0px!important;
    padding-left: 0px!important;
    overflow: hidden !important;
  }
  th{
    font-family: 'Roboto Flex' !important;
    font-weight: 600 !important;
    /* padding: 14px !important; */
    font-size: 16px !important;

  }
  td{
    font-family: 'Roboto Flex' !important;
    font-weight: 400 !important;
    /* padding: 14px !important; */
    font-size: 16px !important;

  }
.css-46bh2p-MuiCardContent-root:last-child{
  padding-bottom: 16px !important;

}
@media (min-width: 600px){
.css-1g1e1rm-MuiToolbar-root {
     padding-left: 4px !important; 
    padding-right: 0px !important; 
}
}
.MuiTypography-h6{
  font-family: 'Roboto Flex' !important;
  font-weight: 600 !important;
  /* padding: 14px !important; */
  font-size: 16px !important;
}
.css-i4bv87-MuiSvgIcon-root{
  color: #fff;
}
